@using Microsoft.AspNetCore.Identity
@using BookBeing.Data.Models
@using BookBeing.Infrastructure
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IUserService TheUser


<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var UsetId = User.GetId();
        var userIsLibrary = TheUser.IsLibrary(UsetId);
        var usarAdmin = User.IsAdmin();

        @if (userIsLibrary && !usarAdmin)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Library" asp-action="MyAnnouncements">Announcements</a>
            </li>
        }
        @if (!usarAdmin)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="MyBooks">My Books</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
        </li>
        @if (!userIsLibrary && !usarAdmin)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Library" asp-action="RegisterLibrary">Register as Library</a>
            </li>
        }

        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
