@model AnnouncementFormModel

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="add-book">Announcement Form</h2>
            <form method="post">
                <div class="form-group">
                    <label class="font-weight-bold" asp-for="Text"></label>
                    <textarea asp-for="Text" rows="4" class="form-control" placeholder="We do not accept magazines or newspapers. We will be happy to accept new and gently used books..."></textarea>
                    <span asp-validation-for="Text" class="alert-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </form>
        </div>
    </div>
</div>